<div class="container cbs">
    <div class="row justify-content-center">
        <h1>Inicio</h1>
    </div>
    <div class="container ticket-body">
        <div class="row justify-content-center">
            <table class="row justify-content-center table table-responsive table-responsivelarge">
                <tr>
                    <th>
                        Ganancias
                    </th>
                    <th>
                        <select class="form-control">
                            <option value="1">Monday</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <td>Money</td>
                    <td>Mes</td>
                </tr>
            </table>
        </div>
        <div class="row justify-content-center">
            <table class="row justify-content-center table table-responsive table-responsivelarge">
                <tr>
                    <th>M&aacute;s Consumidas</th>
                    <th>
                        <select class="form-control">
                            <option value="1">Monday</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <td>Serie</td>
                    <td>Nombre</td>
                </tr>
                <tr>
                    <td>Pelicula</td>
                    <td>Terror</td>
                </tr>
            </table>
        </div>
        <div class="row justify-content-center">
            <table class="row justify-content-center table table-responsive table-responsivelarge">
                <tr>
                    <th colspan="2">N&uacute;mero de miembros</th>
                </tr>
                <tr>
                    <td>Com&uacute;n</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Oro</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Platino</td>
                    <td>0</td>
                </tr>
            </table>
        </div>
    </div>
</div>