<div class="container cbs">
    <div class="row justify-content-center">
        <h1>Reportes</h1>
    </div>
    <div class="container ticket-body">
        <div class="row justify-content-center">
            <table class="row justify-content-center table table-responsive table-responsivelarge">
                <tr>
                    <th colspan="2">
                        Reportes
                    </th>
                </tr>
                <tr>
                    <th>Tipo Usuario</th>
                    <th>Fecha</th>
                </tr>
                <tr>
                    <td>Usuarios Platino</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Queja</td>
                    <td>2019-10-18</td>
                </tr>
                <tr>
                    <td>Usuarios Oro</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Queja</td>
                    <td>2019-10-18</td>
                </tr>
                <tr>
                    <td>Usuarios Com&uacute;n</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Queja</td>
                    <td>2019-10-18</td>
                </tr>
            </table>
        </div>
    </div>
</div>