<div class="container cbs">
    <div id="home" class="section-banner-st-2 banner-bg-2">
        <div class="container">
            <ul class="cb-slideshow">
                <li style="list-style-type: none"><span>Image 01</span></li>
                <li style="list-style-type: none"><span>Image 02</span></li>
                <li style="list-style-type: none"><span>Image 03</span></li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <h1>¿Que Ofrecemos?</h1>
        <div class="d-flex flex-columnMobile">
            <div class="contentIndex flex-item">
                <h1>Somos tu mejor opción</h1>
                <p class="text-justify">
                    Somos la mejor opcion de entretenimiento, fortaleciendo nuestro liderasgo en la cadena cinematografia
                    a nivel nacional. La confianza en nostros es totalmente transparente debido a nuestra atención honesta
                    a todos los clientes.
                </p>
            </div>
            <div></div>
            <div class="contentIndex flex-item">
                <h1>Nuestro objetivo</h1>
                <p class="text-justify">
                    Nuestro objetivo es brindar de felicidad la vida de las personas mediante el entretenimiento, ofreciendoles
                    la oportunidad de ver una película o serie con las personas que desean.
                </p>
            </div>
        </div>
    </div>
</div>
