

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4d0c46;
    color: white;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}