/*Page changes*/
html {
    height: 100%;
}
.cbs {
    min-height: 98%;
} 
.fast {
    -vendor-animation-duration: 1s;
    -vendor-animation-delay: 0s;
}

.slow {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 1s;
}

.reallyslow {
    -vendor-animation-duration: 6s;
    -vendor-animation-delay: 3s;
}
body{
    font-size: 20px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family:'PT Sans', sans-serif;
    color: #000000;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}
a:hover {
    cursor: pointer !important;
    color: #FED731 !important;
}
a.hoverWhiteNavBar:hover{
    color: white !important;
}
main{
    flex: 1;
    background-color: #FFFFFF;
}
li{
    margin: 0 0 5px 0;
    font-size: 13px;
}
p.underline{
    font-size: 20px;
}
ul {
    margin-left: -20%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.black-underline{
    border-bottom-color: #000000!important;
}
.information-input{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
/*Head Navbar*/
.three-lines {
    color: white;
}
@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}
.bg-PurpleNav{
    background: #4D0C46;
    color: #FED731;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-fixed-top-edited {
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

/*BODY*/
.ticket-body{
    border-radius: 15px;
    background-color: #4d0c46a3;
}
/* LEFT NAVBAR*/
.changeColor{
    opacity: 0.5;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #4D0C46;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
  
  
/* Sidebar Styles */
.sidebar-content{
    
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    font-size: 19px;
    height: 10%;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}
.sidebar-nav li:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}
  
@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.sidebar-Title {
    justify-content: center !important;
    height: 12% !important;
}
.sidebar-Title a{
    color: #FED731 !important;
    font-size: 30px !important;
}

/*FOOTER*/
.footer {
    font-family: 'Roboto', sans-serif;
    background: #4D0C46;
    color: #FFFFFF;
    display: flex;
    text-align: center;
}
.verticalLine {
    border-left: 1px solid #FED731;
    margin-top: 1%;
    margin-bottom: 1%;
}
.underline{
    border-bottom: 1px solid #FED731;
}
.footer-content {
    min-width: 20%;
    padding-left: 2%;
    padding-right: 2%;
}

.centerMargin{
    margin: auto;
}
.row{
    padding: 30px;
}
.footer-Icons {
    font-size: 28px;
}