.ticket-body {
    border-radius: 15px;
    background-color: #4d0c4654;
}
.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.circle, .rounded {
    border-radius: 500px;
}
textarea {
    resize: vertical;
}