<div class="container cbs">
    <div class="row justify-content-center aniview slow"> 
            <h1 class="animated loop bounce delay-1s">Cartelera</h1>
    </div>
    <div class="row parent justify-content-center">
        <div class="child" onclick="Pelicula()">
            <img class="imageContainer" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-container">Titulo</span>
        </div>
        <div class="child">
            <img class="imageContainer" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-container">Titulo</span>
        </div>
        <div class="child">
            <img class="imageContainer" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-container">Titulo</span>
        </div>
        <div class="child">
            <img class="imageContainer" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-container">Titulo</span>
        </div>
        <div class="child">
            <img class="imageContainer" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-container">Titulo</span>
        </div>
        <div class="child">
            <img class="imageContainer" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-container">Titulo</span>
        </div>
    </div>
</div>