<div class="container cbs">
    <div class="row justify-content-center">
        <h1>Cartelera</h1>
    </div>
    <div class="row parent justify-content-center">
        <div class="child" onclick="Pelicula()"  ng-repeat="pelicula in peliculas">
            <img class="imageContainer" src="http://placehold.it/300x300" alt="Cartelera Pelicula">
            <span class="justify-content-center flex-container">{{ pelicula.Proyectable.Titulo }}</span>
        </div>
        <div class="child" onclick="Pelicula()"  ng-repeat="episodio in episodios">
            <img class="imageContainer" src="http://placehold.it/300x300" alt="Cartelera Pelicula">
            <span class="justify-content-center flex-container">{{ episodio.Proyectable.Titulo }}</span>
        </div>
    </div>
</div>