<div class="container cbs">
    <div class="row justify-content-center aniview slow"> 
            <h1 class="aniview" data-av-animation="slideInRight">Cartelera</h1>
    </div>
    <div class="row parent col-12">
        <div class="child">
            <img class="imageContainer" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-container">Titulo</span>
        </div>
        <div class="child">
            <img class="imageContainer" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-container">Titulo</span>
        </div>
        <div class="child">
            <img class="imageContainer" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-container">Titulo</span>
        </div>
        <div class="child">
            <img class="imageContainer" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-container">Titulo</span>
        </div>
        <div class="child">
            <img class="imageContainer" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-container">Titulo</span>
        </div>
        <div class="child">
            <img class="imageContainer" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-container">Titulo</span>
        </div>
    </div>
</div>