<div class="container cbs">
    <div class="row justify-content-center">
        <h1>Configuraci&oacute;n</h1>
    </div>
    <div>
        <div class="container ticket-body">
            <div id="ContentDatos">
                <div class="row justify-content-center">
                    <a title="Mis Datos" class="d-flex flex-row align-items-center hoverWhiteNavBar rotate" onclick="AparecerMisDatos()">
                        <span class="icon icon-file-text2"></span>
                        <p class="underline justify-content-center">Mis datos</p>
                        <span id="MisDatos" class="icon icon-play3 rotate"></span>
                    </a>
                </div>
                <div id="sideContentDatos-wrapper" class="justify-content-center subirRango">
                    <div class="row justify-content-center">
                        <div class="row justify-content-center">
                            <div class="flex-container flex-column">
                                <div class="flex-itemConfiguracion">
                                    <label class="spanConfiguracion">Nombre </label>
                                    <input type="text" class="rounded inputContent">
                                </div>
                                <div class="flex-itemConfiguracion">
                                    <label class="spanConfiguracion">Apellido Paterno </label>
                                    <input type="text" class="rounded inputContent">
                                </div>
                                <div class="flex-itemConfiguracion">
                                    <label class="spanConfiguracion">Apellido Materno </label>
                                    <input type="text" class="rounded inputContent">
                                </div>
                                <div class="flex-itemConfiguracion">
                                    <label class="spanConfiguracion"> Email</label>
                                    <input type="email" class="rounded inputContent">
                                </div>
                                <div class="flex-itemConfiguracion">
                                    <label class="spanConfiguracion">Password </label>
                                    <input type="password" class="rounded inputContent">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <a class="btn btn-outline-success btn-lg">Actualizar</a>
                    </div>
                </div>
            </div>
            <div id="ContentRango">
                <div class="row justify-content-center">
                    <a title="Subir Rango" class="d-flex flex-row align-items-center hoverWhiteNavBar" onclick="SubirRango()">
                        <span class="demo-icon icon-diamond"></span>
                        <p class="underline justify-content-center">Subir Rango</p>
                        <span id="MiRango" class="icon icon-play3 rotate"></span>
                    </a>
                </div>
                <div id="sideContentRango-wrapper" class="justify-content-center subirRango">
                    <div class="row justify-content-center">
                        <table class="row justify-content-center table table-responsive table-responsivelarge">
                            <tr>
                                <th>Acciones</th>
                                <th>Com&uacute;n</th>
                                <th>Oro</th>
                                <th>Platino</th>
                            </tr>
                            <tr>
                                <td>Compra de boletos</td>
                                <td><span class="icon icon-checkmark"></span></td>
                                <td><span class="icon icon-checkmark"></span></td>
                                <td><span class="icon icon-checkmark"></span></td>
                            </tr>
                            <tr>
                                <td>Uso de cupones</td>
                                <td><span class="icon icon-cross"></span></td>
                                <td><span class="icon icon-checkmark"></span></td>
                                <td><span class="icon icon-checkmark"></span></td>
                            </tr>
                            <tr>
                                <td>Hacer pedidos</td>
                                <td><span class="icon icon-cross"></span></td>
                                <td><span class="icon icon-cross"></span></td>
                                <td><span class="icon icon-checkmark"></span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="row justify-content-center">
                        <table id="tblTypeUser" class="justify-content-center table-responsive">
                            <tr>
                                <td>
                                    <label>Com&uacute;n</label>
                                </td>
                                <td>
                                    <input type="radio" name="gender" id="rdComun" value="Común">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Oro</label>
                                </td>
                                <td>
                                    <input type="radio" name="gender" id="rdOro" value="Oro">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Platino</label>
                                </td>
                                <td>
                                    <input type="radio" name="gender" id="rdPlatino" value="Paltino">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row justify-content-center">
                        <a class="btn btn-outline-warning btn-lg">Mejorar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
