<div class="container cbs">
                    <div class="row justify-content-center"> 
                            <h1>Cupones</h1>
                    </div>
                    <div class="row parent col-12">
                        <div class="child-cupones flex-container">
                            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
                            <span class="justify-content-center flex-item-cupones">
                                Este cupon te permite comprar cosas
                            </span>
                            <div class="justify-content-center col-12">
                                <a class="btn-cupon btn-success">Consumir</a>
                            </div>
                        </div>
                        <div class="child-cupones">
                            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
                            <span class="justify-content-center flex-item-cupones">Titulo</span>
                            
                        </div>
                        <div class="child-cupones">
                            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
                            <span class="justify-content-center flex-item-cupones">Titulo</span>
                        </div>
                        <div class="child-cupones">
                            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
                            <span class="justify-content-center flex-item-cupones">Titulo</span>
                        </div>
                        <div class="child-cupones">
                            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
                            <span class="justify-content-center flex-item-cupones">Titulo</span>
                        </div>
                        <div class="child-cupones">
                            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
                            <span class="justify-content-center flex-item-cupones">Titulo</span>
                        </div>
                        <div class="child-cupones">
                            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
                            <span class="justify-content-center flex-item-cupones">Titulo</span>
                        </div>
                        <div class="child-cupones">
                            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
                            <span class="justify-content-center flex-item-cupones">Titulo</span>
                        </div>
                    </div>
                </div>