<div class="container cbs">
    <div class="row justify-content-center">
        <h1>Cupones</h1>
    </div>

    <div class="row parent justify-content-center">
        <div class="child-cupones flex-container" ng-repeat="cupon in cupones">
            <h4>{{ cupon.Codigo }}</h4>
            <!--<img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">-->
            <span class="justify-content-center flex-item-cupones">
                {{ cupon.Descripcion }}
            </span>
        </div>

    </div>
</div>