
<div class="container cbs">
    <div class="row justify-content-center"> 
        <h1>Historial</h1>
    </div>
    <table class="row justify-content-center table">
        <tr>
            <th>Compra</th>
            <th>Fecha</th>
        </tr>
        <tr>
            <td>Detalle de venta compra</td>
            <td>Detalle de venta fecha</td> 
        </tr>
        <tr>
            <td>Detalle de venta compra</td>
            <td>Detalle de venta fecha</td> 
        </tr>
    </table>
</div>