<section id="actions">
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand sidebar-Title">
                    <a href="#">
                        Nick
                    </a>
                </li>
                <li>
                    <a href="#" class="a-Rotation">Inicio</a>
                </li>
                <li>
                    <a href="#">Cupones</a>
                </li>
                <li>
                    <a href="#">Pedidos</a>
                </li>
                <li>
                    <a href="#">Historial</a>
                </li>
                <li>
                    <a href="#">Ticket</a>
                </li>
                <li>
                    <a href="#">Configuración</a>
                </li>
                <li class="siderbar-Leave">
                    <a href="#">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</section>