<div class="container cbs">
    <div class="row justify-content-center"> 
            <h1>Pedidos</h1>
    </div>
    <div class="row parent justify-content-center">
        <div class="child-cupones flex-container">
            <img class="imageContainer-cupones flex-item-cupones" src="../../Resources/Img/ImagenesProductos/{{producto.Id}}.png">
            <span class="justify-content-center flex-item-cupones">
                Pedir {{ producto.Nombre }}: {{ producto.PrecioUnitario }}
            </span>
            <div class="flex-item-cupones">
                <div class="justify-content-center">
                    <a ng-click="Pedir(producto.Id)" class="btn btn-outline-success btn-lg">Pedir</a>
                </div>
                <div class="justify-content-center">
                    <input ng-model="Cantidad[producto.Id]" type="number" min="1" max="50" value="1" />
                </div>
            </div>
        </div>
    </div>
</div>