<div class="container cbs">
    <div class="row justify-content-center"> 
            <h1>Pedidos</h1>
    </div>
    <div class="row parent col-12">
        <div class="child-cupones flex-container">
            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-item-cupones">
                Pedir palomitas jumbo
            </span>
            <div class="flex-item-cupones">
                <div class="justify-content-center">
                    <a class="btn btn-outline-success btn-lg">Pedir</a>
                </div>
                <div class="justify-content-center">
                    <input type="number" min="1" max="50" value="1"/>
                </div>
            </div>
        </div>
        <div class="child-cupones">
            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-item-cupones">Titulo</span>
            
        </div>
        <div class="child-cupones">
            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-item-cupones">Titulo</span>
        </div>
        <div class="child-cupones">
            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-item-cupones">Titulo</span>
        </div>
        <div class="child-cupones">
            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-item-cupones">Titulo</span>
        </div>
        <div class="child-cupones">
            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-item-cupones">Titulo</span>
        </div>
        <div class="child-cupones">
            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-item-cupones">Titulo</span>
        </div>
        <div class="child-cupones">
            <img class="imageContainer-cupones flex-item-cupones" src="http://placehold.it/300x300">
            <span class="justify-content-center flex-item-cupones">Titulo</span>
        </div>
    </div>
</div>