<div class="container cbs">
    <div class="row justify-content-center">
        <h1>Titulo Pelicula</h1>
    </div>
    <table class="row justify-content-center table-responsive table-responsivelarge">
        <tr>
            <th>Compra</th>
            <th>Cantidad</th>
            <th>Fecha</th>
            <th>Costo</th>
        </tr>
        <tr>
            <td>Detalle de venta compra</td>
            <td>0</td>
            <td>Detalle de venta fecha</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Detalle de venta compra</td>
            <td>0</td>
            <td>Detalle de venta fecha</td>
            <td>0</td>
        </tr>
    </table>
</div>