<div class="container cbs">
    <div class="row justify-content-center"> 
        <h1 class="animated loop bounce delay-1s">Reportar</h1>
    </div>
    <div class="container ticket-body">
        <div class="row">
            <label class="spanConfiguracion">Titulo</label>
            <input ng-model="ticket.Titulo" type="text" class="form-control rounded">
        </div>
        <div class="row">
            <label class="spanConfiguracion">Motivo</label>
            <select ng-model="ticket.Motivo" class="form-control">
                <option value="Mal servicio">Mal servicio</option>
                <option value="Devolucion">Devoluci&#243;n</option>
                <option value="Sugerencia">Sugerencia</option>
                <option value="Otro">Otro</option>
            </select>
        </div>
        <div class="row">
            <label class="spanConfiguracion">Descripci&#243;n</label>
            <textarea ng-model="ticket.Descripcion" class="form-control"></textarea>
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-outline-danger btn-lg" ng-click="AgregarTicket()">Reportar</a>
        </div>
    </div>
</div>